$colores:(
    rojo:red,
    azul:blue,
    amarillo:yellow,
    blanco: white,
    jacinto-h: rgb(0, 255, 255),
    jacinto-f:rgb(129, 220, 215)
);
@each $nombre,$color in $colores {
    .backcol-#{$nombre} {
        background-color: $color;
    }
}