<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito - Tienda JacintoKids</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" ><!-- link de google fonts para iconos -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"><!-- importo font de google fonts -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css"/>
  <meta name="description" content="Carrito de compras. Envios a domicilio Rosario - Funes - Roldán Y si estás más lejos te lo enviamos por correo!">
  <meta name="keywords" content="compras, bebes, body, nacimiento, niños, niñas, pagos, financiacion">
  <link rel="icon" type="image/png" href="../img/logojacinto.png"/>
</head>
<body class="mx-auto">
    
    <header id="header">
        <div class="header__principal">
            <div class="header__principal__cuenta ">
                <a href="./reparacion.html" class="text-decoration-none text-black">Iniciar sesión</a>
                <a href="./reparacion.html" class="text-decoration-none text-black">Crear cuenta</a>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="m-0 p-0 align-middle">Nueva temporada Spring-Summer !! <img src="../img/sol.png" alt="sol" class="alto_1r px-2"><img src="../img/pelota-de-playa.png" alt="pelota" class="alto_1r"></p>
                    </div>
                    <div class="carousel-item">
                        <p class="m-0 p-0 align-middle">3 y 6 cuotas sin interes con todas las tarjetas de crédito!!<img src="../img/promocion.png" alt="promo" class="alto_1r px-2"></p>
                    </div>
                    <div class="carousel-item">
                        <p class="m-0 p-0 align-middle">Hasta 40% de descuento en la temporada otoño-invierno!!<img src="../img/nieve.png" alt="nieve" class="alto_1r px-2"><img src="../img/muneca.png" alt="muñeco de nieve" class="alto_1r"></p>
                    </div>
                </div>
            </div>
            <div>
                <a href="./carrito.html"><span class="material-symbols-outlined text-black">shopping_cart</span></a>
            </div>
        </div>
        <div class="redes_mobile">
            <div class="font_3r">
                <ul class="col-12 p-4">
                    <li class="text-center text-black">REDES</li>
                    <li class="p-0"><a href="https://www.instagram.com/"><img src="../img/instagram.svg" alt="instagram" class="alto_4r"></a></li>
                    <li class="p-0"><a href="https://web.whatsapp.com/"><img src="../img/whatsapp.svg" alt="whatsapp" class="alto_4r"></a></li>
                    <li class="p-0"><a href="https://youtube.com.ar"><img src="../img/youtube.svg" alt="yootube" class="alto_4r"></a></li>
                    <li class="p-0"><a href="https://twitter.com/"><img src="../img/twitter.svg" alt="twitter" class="alto_4r"></a></li>
                </ul>       
            </div>
        </div>
        <div class="header_container_second">
            <div class="header__menu">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="header_mobile">
                            <ul class="header_mobile_flex">
                                <li><a href="./reparacion.html"><span class="material-symbols-outlined font_5r text-black">login</span></a></li>
                                <li><a href="./reparacion.html"><span class="material-symbols-outlined font_5r text-black">person_add</span></a></li>
                            </ul>
                        </div>
                        <a class="navbar-brand mx-5" href="../index.html"><img src="../img/jacitook.png" alt="logotipo de la página" id="logo__jacinto" class="px-0"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="height:5rem; width:5rem"><span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">INICIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./productos.html">PRODUCTOS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./mpagos.html">PAGOS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./ubicacion.html">UBICACIÓN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contacto.html">CONTACTO</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-outline-info text-primary" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main__contacto">
        <div class="titulo_second">
            <h2 class="mt-2">FINALIZAR COMPRA</h2>
        </div>
    </main>

  <section class="carrito">
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <ul class="producto_detalle">
                    <li class="producto_detalle_foto text-center">
                        <img src="../img/accesorio1.jpeg" class="card-img-top rounded-4" alt="Bandana Flores - Fondo Blanco">
                    </li>
                    <li class="producto_detalle_descrip text-center align-middle">
                        <p>Precio: $780</p>
                        <p>Envío: $280</p>
                        <p>Total: $1060</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-xs-12">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 px-0">
                                <div class="mb-3 ">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 px-0">
                                <div class="mb-3 ">
                                    <label for="nombre" class="form-label">Provincia</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Calle</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Número</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">CP</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">N° Tarjeta</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 px-0">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Cód. Seg.</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="mb-3">
                        <a href="./compraok.html" class="btn btn-primary">Comprar</a>
                    </div>
                </form>
            </div>
            
        </div>        
    </div>
  </section>
    
  <section class="designer_mobile">
    <div>
        <p class="designer font_2r">By <img src="../img/logogr.JPG" alt="Logo GR" class="icono-redes"> Guillermo Rocatti</p>
    </div>
    <div class="space"></div>
</section>
<div class="footer_mobile">
    <ul class="footer_mobile_flex">
        <li><a href="../index.html"><span class="material-symbols-outlined font_5r  text-black">home</span></a></li>
        <li><a href="./carrito.html"><span class="material-symbols-outlined font_5r  text-black">shopping_cart</span></a></li>
        <li><a href="./reparacion.html"><span class="material-symbols-outlined font_5r  text-black">search</span></li></a>
    </ul>
</div>
<footer><!-- Pie de página -->
    <div class="footer">
        <div class="izquierdo">
            <h3>INFO</h3>
            <nav class="info_izquierdo">
                <ul class="pie"> 
                    <li><a href="./termycond.html">Terminos y condiciones</a></li>
                    <li><a href="./cambios.html">Politicas de cambios</a></li>
                    <li><a href="./arrepentimiento.html">Boton de arrepentimiento</a></li>
                </ul>
            </nav>
        </div>
        <div class="centro">
            <h3>MENU</h3>
            <nav>
                <ul class="pie">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./mpagos.html">Medios de pago</a></li>
                    <li><a href="./ubicacion.html">Ubicación</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="derecho">
            <h3>REDES</h3>
            <nav>
                <ul class="pie">
                    <li><a href="https://www.instagram.com/"><img src="../img/instagram.svg" alt="instagram" class="icono-redes"> Instagram</a></li>
                    <li><a href="https://web.whatsapp.com/"><img src="../img/whatsapp.svg" alt="whatsapp" class="icono-redes"> Whatsapp</a></li>
                    <li><a href="https://youtube.com.ar"><img src="../img/youtube.svg" alt="yootube" class="icono-redes">YouTube</a></li>
                    <li><a href="https://twitter.com/"><img src="../img/twitter.svg" alt="twitter" class="icono-redes"> Twitter</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <a class="contactoWa" href="https://web.whatsapp.com/">
        <div>
            <img src="../img/whatsapp.png" alt="wa">
        </div>
    </a>
    <div>
        <p class="designer">WEB Designer   <img src="../img/logogr.JPG" alt="Logo GR" class="icono-redes">   Guillermo Rocatti</p>
    </div>
</footer>
<a class="contactoWa_mobile" href="https://web.whatsapp.com/">
    <div>
        <p class="text-white"><img src="../img/whatsapp.png" alt="wa_mobile"> Chat</p>
    </div>
</a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>