<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Tienda virtual</title>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" /><!-- link de google fonts para iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"><!-- importo font de google fonts -->
</head>
<body>
    <header id="header">
        <div class="header__principal">

            <div class="header__principal__cuenta">
                <a href="">Iniciar sesión</a>
                <a href="">Crear cuenta</a>
            </div>
            <div>
                <a href="./carrito.html"><span class="material-symbols-outlined">shopping_cart</span></a>
            </div>
            
        </div>
        <div class="header__secundario">
            <div class="header__secundario_logo">
                <a href="../index.html"><img src="../img/logojacinto.png" alt="logotipo de la página" id="logo__jacinto"></a>
            </div>
            <div class="header__secundario__buscar">
                <input type="text" id="buscar" placeholder="Accesorios...">
                <input type="button" id="boton" value="Buscar">
            </div>   
            <div class="header__secundario__idioma">
                <div id="espanol">
                    <a href="../index.html"><img src="../img/espana.png" alt="bandera espana" class="bandera"></a>    
                    <p>ESP</p>
                </div >
                <div id="ingles">
                    <a href="./index_en.html"><img src="../img/ingles.png" alt="bandera ingles" class="bandera"></a>
                    <p>ENG</p>
                </div>
            </div>
        </div>
        <div class="header__menu">
            <nav>
                <ul class="header__menu__intro">
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./mpagos.html">MEDIOS DE PAGO</a></li>
                    <li><a href="./ubicacion.html">UBICACIÓN</a></li>
                    <li><a href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="reparacion">
        <div><img src="../img/logojacinto.png" alt="logo jacintokids"></div>
        <p>Actualmente tenemos en desarrollo esta página.</p>
        <p>Sepa disculpar las molestias ocacionadas.</p>
    </section>
    <footer><!-- Pie de página -->
        <div class="footer">
            <div class="izquierdo">
                <h3>INFO</h3>
                <nav class="info_izquierdo">
                    <ul class="pie"> 
                        <li><a href="./termycond.html">Terminos y condiciones</a></li>
                        <li><a href="./cambios.html">Politicas de cambios</a></li>
                        <li><a href="./arrepentimiento.html">Boton de arrepentimiento</a></li>
                    </ul>
            </nav>
        </div>
        <div class="centro">
            <h3>MENU</h3>
            <nav>
                <ul class="pie">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./mpagos.html">Medios de pago</a></li>
                    <li><a href="./ubicacion.html">Ubicación</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="derecho">
            <h3>REDES</h3>
            <nav>
                <ul class="pie">
                    <li><a href="https://www.instagram.com/"><img src="../img/instagram.JPG" alt="instagram" class="icono-redes"> Instagram</a></li>
                    <li><a href="https://web.whatsapp.com/"><img src="../img/wa.JPG" alt="whatsapp" class="icono-redes"> Whatsapp</a></li>
                    <li><a href="https://youtube.com.ar"><img src="../img/youtube.JPG" alt="yootube" class="icono-redes">YouTube</a></li>
                    <li><a href="https://twitter.com/"><img src="../img/twitter.JPG" alt="twitter" class="icono-redes"> Twitter</a></li>
                </ul>
            </nav>
        </div>
        </div>
        <div>
            <p class="designer">WEB Designer   <img src="../img/logogr.JPG" alt="Logo GR" class="icono-redes">   Guillermo Rocatti</p>
        </div>
    </footer>
</body>
</html>