* {
  Margin:0px;
  padding:0px;
}
body, p, span{
  font-family: 'Josefin Sans' , sans-serif ;
/*   font-size: 1rem !important; */
} 
body{
  max-width: 1600px;
}
ul, li{
  margin: 0px;
  padding: 0px;
}
.videos__sm{
  display: none;
}
.login, .create{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px;
  background: rgba(0,0,0,.6);
  opacity: 1;
  transition: opacity .15s linear;
}
.container_login, .container_create{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headre_principal_login{
  display: none;
}
#login_form, #create_form{
  width: 500px;
  padding: 50px;
  border-radius: 5px;
}
.descuento{
  height: 35px;
  width: 35px;
  background-color:coral;
  border-radius: 5px;
}
.descuento p{
  font-size: 12px;
  color:white;
  text-align: center;
  vertical-align:middle;
  padding: 0px;
  margin: 0px;

}
@media(max-width: 768px){
  footer{
    display: none;
  }
  #logo__jacinto{
    display: none;
  }
  html{
    font-size: 50%;
  }
  .videos__sm{
    display: block;
  }
  .videos__md{
    display: none;
  }
}
.active_menu{
  background-color: rgb(129, 220, 215) !important;
}
.header_container{
  background-image: url("../img/portrait-of-young-family.jpg");
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.header_container_second{
  background-image: url("../img/nuves-colores.jpg");
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-bottom: 10rem;
}
.header_waves{
  background-image: url("../img/wave-1.svg");
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.nombre_usuario, .login_action{
  margin-right: 15px;
}
.header__principal{
  display: flex;
  font-size:small;
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}
.header__principal__cuenta{
  font-family: 'Josefin Sans' , sans-serif !important;
  margin-right: 15px;
}
.headre_principal_login {
  align-items: center;
}
.nombre_usuario_login{
  margin-bottom: 0px;
}
.carousel{
  width: 500px;
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  font-size: 2rem !important;
}
.producto_detalle{
  list-style: none;
}
.producto_detalle_foto img{
  height: 8rem;
  width: auto;
  margin-bottom: 5rem;
}
@media  (max-width: 768px){
  .producto_detalle{
    display: flex;
    height: 15rem;
    justify-content: space-around;
    margin-bottom: 3rem ;
  }
  .producto_detalle_foto img{
    height: 13rem;
    width: auto;
    margin-bottom: 0rem;
  }
  .producto_detalle_descrip{
    height: 100%;
    font-size: 2rem;
    margin-top: 5px;
  }
  body{
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (max-width: 992px){
  .main{
    display: none;
  }
}
.font_2r {
  font-size: 2rem !important;
}
.font_3r {
  font-size: 3rem !important;
}
.font_4r {
  font-size: 4rem !important;
}
.font_5r {
  font-size: 5rem !important;
}
.alto_1r{
  height: 1rem;
}
.alto_2r{
  height: 2rem;
}
.alto_3r{
  height: 3rem;
}
.alto_4r{
  height: 4rem;
}
.alto_5r{
  height: 5rem;
}
.header__secundario{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo__jacinto{
  height: 150px;
  width: auto;
  padding-left: 50px;
}
#label_buscar{
  padding-top: 35px;
  margin-left: 170px;
}
#buscar_boton {
  border-radius: 2px;
  padding-top: 35px;
}
.header__menu{
  font-size: 15px;
}
.header__menu nav ul{
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
header nav ul li a{
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.main{
  height: 300px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.main h1, .main h2{
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  text-shadow: 0 0 8px black;
}
.main__contacto h2{
  text-align: center;
  height: auto;
  width: auto;
}
.main_contacto_form{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
}
.videos{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
}
.videos div{
  text-align: center;
}
.titulo{
  background-color: rgb(129, 220, 215);
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 14rem;
  margin-right: 14rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.titulo_second{
  background-color: rgb(129, 220, 215);
  padding: 1rem;
  margin-top: 6rem;
  margin-left: 14rem;
  margin-right: 14rem;
  margin-bottom: 6rem;
  border-radius: 1rem;
}
.subtitulo{
  background-color:antiquewhite;
  padding: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.subtitulo div h4{
  color: brown;
}
#mapa div, .main__contacto div{
  padding: 20px;
}
.destacados div h2, #mapa div h2, .main__contacto div h2{
  text-align: center;

}
.destacados__contenedor{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  margin: 25px;
  justify-content: space-around;
  list-style: none;
}
.destacados{
  background: url(../img/fondo-lunares.jpg) 0 0 repeat;
  background-size: contain;
}
.destacados_cards{
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 6rem;
  margin-right: 6rem;

}
.destacados__contenedor li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.secciones{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 5rem;
}
.seccionA_fondo{
  background-image: url(../img/baby_accesorios.jpg);
  background-repeat: no-repeat;
  background-size:  100% 100%;
  width: 400px;
  height: 250px;
  border-radius: 8px;
}
.seccionB_fondo{
  background-image: url(../img/baby_navidad.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 400px;
  height: 250px;
  border-radius: 8px;
}
.seccionA_opacidad{
  background-color: rgba(250, 180, 50, 0.3);
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.seccionB_opacidad{
  background-color: rgba(235, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.secciones_text h2, .secciones_text h4{
  text-shadow: 0 0 8px black;
}
.seccion_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}
@media  (max-width: 768px){
  .header_container{
    height: 400px;
  }
  .header_waves {
    height: 430px;
  }
  .redes_mobile div ul li {
    padding-right: 8rem;
  }
  .seccionA_fondo{
    width: 300px;
    height: 150px;
  }
  .seccionB_fondo{
    width: 300px;
    height: 150px;
  }
  .titulo{
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .subtitulo{
    padding: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .destacados_cards{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .destacados__contenedor{
    padding: 0;
  }
  .main{
    display: block;
  }
  .main h2{
    display: none;
  }
  .seccion_contenedor {
    padding-top: 2rem;
  }
}
/* .card div div{
  display: flex;
  padding: 0px;
  max-width: 0px;
}
.card div div h3{
  padding-right: 8px;
} */
.card:hover{
  transform: scale(1.2,1.2);
  z-index: 1000;
  box-shadow: inset;
}
#mapa ul, #mapa ul li{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  list-style: none;
}
.mpagos{
  background-color: white;
}
.mpagos li{
  list-style: none;
  text-align: center;
}
.mpagos li{
  list-style: none;
  text-align: center;
}
.reparacion{
  padding: 40px;
}
.reparacion div{
  text-align: center;
}
.reparacion p{
  padding: 30px;
  margin: 15px;
  font-size: 35px !important;
  text-align: center !important;
}
.imgcontenedor{
display: flex;
justify-content: center;
}
.imgcontenedor img{
  width: 200px;
  height: auto;
}
.contenedor_principal div p, .contenedor_principal div h2, .contenedor_principal div h4{
  padding: 0.5rem;
  margin-left: 1rem;
}
.contenedor_principal p{
  font-size: 1.5rem !important;
}
.contenedor_principal{
  margin: 1rem !important;
}
.contenedor_principal_mobile{
  display: none;
  margin: 1rem !important;
}
.mapa_mobile{
  display: none;
}
@media (max-width: 768px){
  .contenedor_principal_mobile{
    display: block;
  }
  .contenedor_principal{
    display: none;
  }
  .mapa_desktop{
    display: none;
  }
  .mapa_mobile{
    display: block;
  }
}
.beneficios_new div div div img{
  margin-bottom: 1rem;
  height: 5rem;
  width: auto;
}
footer{
  background-color: beige;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: beige;
}
.footer div h3{
  text-align: center !important;
}
.izquierdo {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.centro {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.derecho {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.icono-redes {
  width: 18px;
  height: 18px;
}
.pie {
  list-style-type: none !important;
}
.pie li{
  text-align: center !important;
}
.pie li a{
  list-style-type: none !important;
  text-decoration: none !important;
  color: black !important;
}
.contactoWa{
  text-align: right;
  display: block;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.contactoWa div img{
  width: 3rem;
  height: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}
.contactoWa div img:hover{
  transform: scale(1.5,1.5);
}
.contactoWa_mobile{
  display: none;
}
.contactoWa_mobile div:hover{
  transform: scale(1.5,1.5);
}
.contactoWa_mobile div{
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 1000;
  background-color: rgb(100,177,97);
  padding: 5px;
  margin: 0px;
  text-align: center;
  border-radius: 2rem;
}
.contactoWa_mobile div p{
  margin: 0px;
  padding: 0px;
  font-size: 2rem !important;
}
.contactoWa_mobile div p img{
  width: 2rem;
  height: auto;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 768px){
  .contactoWa{
    display: none;
  }
  .contactoWa_mobile{
    display: block;
  }
}
.designer {
  text-align: center;
  margin-bottom: 0px;
}
.designer_mobile {
  text-align: center;
  margin: 4px !important;
  height: 5rem !important;
  display: none;
}
.space{
  height: 6rem; 
}
.footer_mobile{
  background-color: beige;
  height: 5rem;
  display: none;
}
.footer_mobile_flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
}
.footer_mobile_flex li{
  list-style: none;
  text-align: center;
  height: 100%;
}
.footer_mobile_flex li a span{
  height: 100%;
  width: 5rem;
  font-size: 5rem;
}
.redes_mobile{
  display: none;
  background-color: beige;
}
.redes_mobile div ul{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 5rem;
}
.redes_mobile div ul li{
  list-style: none;
  text-align: center;
  padding-top: 0.5rem;
}
.header_mobile{
  height: 6rem;
  display: none;
}
.header_mobile_flex{
  display: flex;
  padding: 0px  !important;
}
.header_mobile_flex li{
  list-style: none;
  text-align: center;
  padding-top: 0.5rem;
}
@media (max-width: 768px){
  .footer_mobile{
    display: block;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
  }
  .designer_mobile{
    display: block;
  }
  .header_mobile{
    display: block;
    width: 20rem;
  }
  .redes_mobile{
    display: block;
  }
  .header__principal{
    display: none;
  }
}
