* {
  Margin:0px;
  padding:0px;
}
body, p, span{
  font-family: 'Josefin Sans' , sans-serif ;
  font-size: 1rem !important;
} 
ul, li{
  margin: 0px;
  padding: 0px;
}
#header {
  background-color: rgb(129, 220, 215);
}
.videos__sm{
  display: none;
}
@media(max-width: 992px){
  footer{
    display: none;
  }
  #logo__jacinto{
    display: none;
  }
  html{
    font-size: 50%;
  }
  .videos__sm{
    display: block;
  }
  .videos__md{
    display: none;
  }
}
.header__principal{
  display: flex;
  font-size: small;
  background-color: rgb(0, 255, 255);
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
}
.header__principal__cuenta{
  font-family: 'Josefin Sans' , sans-serif !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  font-size: 2rem !important;
}
.header__secundario{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo__jacinto{
  height: 150px;
  width: auto;
  padding-left: 50px;
}
#label_buscar{
  padding-top: 35px;
  margin-left: 170px;
}
#buscar_boton {
  border-radius: 2px;
  padding-top: 35px;
}
.header__secundario__idioma{
  display: flex;
  text-align: center;
  padding: 10px;
}
#espanol, #ingles{
  padding: 5px;
}
.header__secundario__idioma p{
  text-align: center;
  font-size: 7px;
}
.header__menu{
  font-size: 15px;
}
.header__menu nav ul{
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
header nav ul li a{
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.main{
  background-image: url("../img/fondo.png");
  height: 200px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.main h1, .main h2{
  text-align: center;
  padding: 15px;
}
.main__contacto h2{
  text-align: center;
  height: auto;
  width: auto;
}
.main__contacto__form{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
}
.videos{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
}
.videos div{
  text-align: center;
}
.destacados div, #mapa div, .main__contacto div{
  background-color: aqua;
  padding: 20px;
}
.destacados div h2, #mapa div h2, .main__contacto div h2{
  text-align: center;

}
.destacados__contenedor{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  margin: 25px;
  justify-content: space-evenly;
  list-style: none;
}
.destacados__contenedor li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card div div{
  display: flex;
  padding: 0px;
  max-width: 0px;
}
.card div div h3{
  padding-right: 8px;
}
.card:hover{
  transform: scale(1.2,1.2);
  z-index: 1000;
}
/* .destacados__contenedor__nombre{
  text-align: justify;
}
.destacados__contenedor__imagen{
  height: 350px;  
}
.destacados__contenedor__precio ul{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  list-style: none;
}
.destacados__contenedor__precio ul li a{
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
} */
#mapa ul, #mapa ul li{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  list-style: none;
}
.mpagos{
  background-color: white;
}
.mpagos li{
  list-style: none;
  text-align: center;
}
.reparacion{
  padding: 40px;
}
.reparacion div{
text-align: center;
}
.reparacion p{
  padding: 30px;
  margin: 15px;
  font-size: 35px !important;
  text-align: center !important;
}
.reparacio__carrito{
  background-color: aqua;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}
.imgcontenedor{
display: flex;
justify-content: center;
}
.imgcontenedor img{
  width: 200px;
  height: auto;
}
.contenedor_principal div p, .contenedor_principal div h2, .contenedor_principal div h4{
  padding: 12px;
  margin-left: 2rem;
}
.beneficios{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  text-align: center;
}
.beneficios__lista{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.beneficios__lista li{
  list-style: none;
}
#beneficios__lista__izq{
  border-right: 2px solid black;
}
#beneficios__lista__centro{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#beneficios__lista__der{
  border-left: 2px solid black;
}
.beneficios__mobile__lista{
  display: none;
}
@media (max-width: 992px){
  .beneficios__mobile__lista{
    display: block;
  }
  .beneficios__lista{
    display: none;
  }

}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer div h3{
  text-align: center !important;
}
.izquierdo {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color:rgb(0, 255, 221);
}
.centro {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color:rgb(87, 250, 127);
}
.derecho {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  background-color:rgb(0, 255, 221);
}
.icono-redes, .bandera {
  width: 12px;
  height: 12px;
}
.pie {
  list-style-type: none !important;
}
.pie li{
  text-align: center !important;
}
.pie li a{
  list-style-type: none !important;
  text-decoration: none !important;
  color: black !important;
}
.designer {
  text-align: center;
  padding: 5px;
}